<div class="container">
    <br>
    <br>

    <div class="row justify-content-center align-items-center">
<!---->
        <div id="login-column" class="col-md-6">
            <div class="col-md-12">


                <div class="card ">
                    <!--Centralizo a logo-->
                    <div class="row justify-content-center align-items-center">
                        <img class="mb-4" src="./assets/img/App.png" alt="" width="130" height="130">                        
                    </div>
                      <!--Fim da logo-->
                     
                    <h3 class="text-center text-info">Login</h3>
                 
                    <div class="card-body">
                        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">

                           <!-- <h3 class="text-center text-info">Login</h3> -->
                            <div class="form-group">
                                <label for="username" class="text">Login:</label><br>
                                <input type="email" formControlName="email" id="email" class="form-control">
                            </div>

                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

                                <div *ngIf="email.errors?.required">
                                    Email é obrigatorio.
                                </div>
                                <div *ngIf="email.errors?.email">
                                    Informe um email no padrão correto.
                                </div>

                            </div>





                            <div class="form-group">
                                <label for="password" class="text">Senha:</label><br>
                                <input type="password" formControlName="senha" id="password" class="form-control">


                            </div>
                            <div *ngIf="senha.invalid && (senha.dirty || senha.touched)" class="alert alert-danger">

                                <div *ngIf="senha.errors?.required" class="alert alert-danger">
                                    Campo senha é obrigatório.
                                </div>

                                <div *ngIf="senha.errors?.minlength" class="alert alert-danger">
                                    Minimo de 6 caracteres
                                </div>

                                <div *ngIf="senha.errors?.maxlength" class="alert alert-danger">
                                    Maximo de 10 caracteres
                                </div>
                            </div>



                            <div *ngIf="mensagem">
                                <ngb-alert [dismissible]="true" (closed)="mensagem = ''" type='danger'>
                                    <strong>{{mensagem}}</strong>
                                </ngb-alert>
                            </div>







                            <div class="form-group">
                                <label for="remember-me" class="text"><span>Relembrar</span> <span><input
                                            id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <input type="submit" [disabled]="formLogin.invalid" class="btn btn-primary"
                                    value="Entrar">

                                <div id="register-link" class="text-left">

                                </div>


                            </div>

                        </form>
                    </div>
                    <!--Fim da card-body-->
                </div>
            </div>
        </div>
    </div>
</div>